  li{
    display: none;
  }
  a{
    text-decoration: none;
  }

  body {
    background-color: #efefef;
    box-sizing: border-box;
  }

  .socialMedia {
    height: 30vh;
    width: 100%;
    text-align: right;
  }
  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
  .main {
    font-size: 2em;
    text-align: center;
    color: #A19710;
    background-color: #076B8C;
    /*opacity: .7;*/
    padding-top: 35px;
    height: 15vh;
    margin: 0px, 30px, 0px, 30px;
    font-family: ailerons;
    position: relative;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;

  }
    a {
    height: 5vh;
    font-family: ailerons;
    /*padding-top: 20vh;*/
    color: #A19710;
    font-size: 18px;
    margin-top: 20vh;

  }
  section.holderSection{
    height: 50vh;
    width: 50vw;
    position: relative;
    font-family: adam;
    padding: 5vh 5vw 5vh 5vw;
  }
  div#bio{
    position: absolute;
    height: inherit;
    width: inherit;
    visibility: collapse;
  }
  div#portfolio{
    position: absolute;
    height: inherit;
    width: inherit;
    visibility: collapse;
  }
  div#contact{
    position: absolute;
    height: inherit;
    width: inherit;
    visibility: collapse;
  }
  h2{
    text-align: center;
  }
