  .{
    text-decoration: none;
    box-sizing: border-box;
    display: inherit;
  }

  li{
    text-decoration: none;
    box-sizing: border-box;
    display: inherit;
  }
  body {
    background-color: #efefef;
    box-sizing: border-box;
  }
  .socialMedia {
    height: 30vh;
    width: 100%;
    text-align: right;
  }
  .socialMediaPages {
    height: 2vh;
    float: right;
  }
  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
  .main {
    font-size: 2em;
    text-align: center;
    color: #A19710;
    background-color: #076B8C;
    padding-top: 35px;
    height: 15vh;
    margin: 0px, 30px, 0px, 30px;
    font-family: ailerons;
    position: relative;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;

  }
    a {
    height: 5vh;
    font-family: ailerons;
    /*padding-top: 20vh;*/
    color: #A19710;
    font-size: 1.2em;
    margin-top: 20vh;
    text-decoration: none;

  }
   #bio{
     height: 80vh;
     background-color: #076B8C;
     font-family: ubuntu;
     color: #efefef;
     margin: 5vh 5vw;
     padding: 3vh 3vw;
     font-size: 1.3em;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
   }
   #portfolio{
     height: 80vh;
     background-color: #076B8C;
     margin: 5vh 5vw;
     padding: 3vh 3vw;
     box-sizing: border-box;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     text-align: center;
     padding-top: 15vh;
   }
   .picInfo{
     font-family: ubuntu;
     color: #efefef;
     font-size: 1em;
   }
   .menuPages{
     font-size: 1em;
     height: 3vh;
     padding-left: 1vw;
   }
   .profPicture{
     height: 30vh;
     width: 30vh;
     float: right;
   }
   .projects{
     height: 40vh;
     width: 50vh;
    
   }
   #contact-form{
     height: 80vh;
     background-color: #076B8C;
     font-family: ubuntu;
     color: #efefef;
     margin: 5vh 5vw;
     padding: 3vh 3vw;
     font-size: 1.3em;
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
  }
    #contact-form input[type="text"],
    #contact-form input[type="email"],
    #contact-form input[type="tel"],
    #contact-form input[type="url"],
    #contact-form textarea {
    width:100%;
    box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    -moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
  }
