  body {
    background-color: #efefef;
  }

  div {
    height: 30vh;
    width: 100%;
    margin: 0 40px
  }
  .main {
    font-size: 2em;
    text-align: center;
    color: #64869E;
    background-color: pink;
    margin: 0 30px;
    position: relative;
  }
