  li{
    display: none;
  }
  a{
    text-decoration: none;
  }

  body {
    background-color: #efefef;
    box-sizing: border-box;
  }

  .socialMedia {
    height: 30vh;
    width: 100%;
    text-align: right;
  }
  img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
  }
  .main {
    font-size: 2em;
    text-align: center;
    color: #A19710;
    background-color: #076B8C;
    /*opacity: .7;*/
    padding-top: 35px;
    height: 15vh;
    margin: 0px, 30px, 0px, 30px;
    font-family: ailerons;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50vh;

  }
    a {
    height: 5vh;
    font-family: ailerons;
    /*padding-top: 20vh;*/
    color: #A19710;
    font-size: 18px;
    margin-top: 20vh;

  }
  section{
    display: flex;
    flex-direction: column;
    background-color: #076B8C;
    width: 100%;
    height: 100vh;
    color: #efefef;
    font-family: rex light;
  }
  #bio{
    height: 45vh;
    padding: 5px 10px 25px 10px;
    border-bottom: 4px solid #efefef;
  }
  #portfolio{
    height: 45vh;
    padding: 5px 10px 25px 10px;
    border-bottom: 4px solid #efefef;
  }
  #contact{
    height: 10vh;
    padding: 25px 10px 25px 10px;
  }
  .contactInfo {
    color: #A19710;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
  }
  h2{
    text-align: center;
  }
